#root {
  background-image: url("https://images.pixexid.com/a-tranquil-waterfall-in-a-magical-forest-where-shimmering-crystals-grow-from-th-ffdic1ci.jpeg");
  background-color: rgba(29, 29, 29, 0.486);
  background-blend-mode: overlay;
  width: 100vw;
  height: 100vh;
}